<div class="wrapper">
  <div class="header">
    <img class="logo" src="assets/images/iconectiv_tm_white.png">
    <div class="header-blurb">
      <h1>Style Guide</h1>
    </div>
  </div>
  <!--NAV-->
  <div class="left large-2of12 small-hidden">
    <div class="nav spacing-small">
      <ul>
        <li><a class="button" href="#typography">Typography</a></li>
        <li><a class="button" href="#listtype">List Types</a></li>
        <li><a class="button" href="#grid">Grid</a></li>
        <li><a class="button" href="#colors">Colors</a></li>
        <li><a class="button" href="#buttons">Buttons</a></li>
        <li><a class="button" href="#inputs">Inputs</a></li>
        <li><a class="button" href="#time">Time</a></li>
        <li><a class="button" href="#forms">Forms</a></li>
        <li><a class="button" href="#graphs">Graphs</a></li>
        <li><a class="button" href="#notifications">Notifications</a></li>
        <li><a class="button" href="#entity">Entity</a></li>
        <li><a class="button" href="#latency">Latency</a></li>
        <li><a class="button" href="#cards">Cards</a></li>
      </ul>
    </div>
  </div>
  <!--END NAV-->
  <div class="right large-10of12">
    <!-- TYPOGRAPHY -->
    <div class="row">
      <h1 class="spacing-small">Atoms</h1>

      <h2 class="has-light-blue"><a name="typography"></a>Typography</h2>
      <hr class=main-title>
      <h4>Headings</h4>
      <div class="row sg-headings">
        <div class="large-4of10">
          <h1>h1.Heading</h1>
        </div>
        <div class="large-3of10">
          <h1 class="has-light-gray">48px</h1>
        </div>
        <div class="large-3of10">
          <h1 class="has-light-gray">light</h1>
        </div>
      </div>
      <div class="row sg-headings">
        <div class="large-4of10">
          <h2>h2.Heading</h2>
        </div>
        <div class="large-3of10">
          <h2 class="has-light-gray">32px</h2>
        </div>
        <div class="large-3of10">
          <h2 class="has-light-gray">light</h2>
        </div>
      </div>
      <div class="row sg-headings">
        <div class="large-4of10">
          <h3>h3.Heading</h3>
        </div>
        <div class="large-3of10">
          <h3 class="has-light-gray">27px</h3>
        </div>
        <div class="large-3of10">
          <h3 class="has-light-gray">medium</h3>
        </div>
      </div>
      <div class="row sg-headings">
        <div class="large-4of10">
          <h4>h4.Heading</h4>
        </div>
        <div class="large-3of10">
          <h4 class="has-light-gray">20px</h4>
        </div>
        <div class="large-3of10">
          <h4 class="has-light-gray">light</h4>
        </div>
      </div>

    </div>

    <div class="row">
      <h4>Paragraph &lt;p&gt;</h4>
        <p class="large-3of10">Lorem ipsum dolor sit amet, emphasis consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.</p>
        <p class="large-4of10 justified">Lorem ipsum dolor sit amet, emphasis consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.</p>
        <p class="large-3of10 justify-right">Lorem ipsum dolor sit amet, emphasis consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.</p>
    </div>
    <hr>

    <div class="row">
      <h4>Bold Text <small>
&lt;b&gt;</small></h4>
      <b>Lorem ipsum dolor sit</b>
      <hr>
      <h4>Small Text<small>
&lt;small&gt;&lt;/small&gt;</small></h4>
      <small>Lorem ipsum dolor sit</small>
      <hr>
      <h4>Customer Titles <small>&quot;title&quot;</small></h4>
      <h3 class="title">Cricket Communication USA</h3>
      <h3 class="title has-error">Cricket Communication USA (w error)</h3>
      <hr>
    </div>

    <div class="row spacing-small">
      <h2 class="has-light-blue"><a name="listtype"></a>List Types</h2>
      <hr class="main-title">
      <h4>Ordered list</h4>
      <ol>
        <li>List Item 1</li>
        <li>List Item 2</li>
        <li>List Item 3</li>
      </ol>
      <hr>
      <h4>Unordered list</h4>
      <ul>
        <li>List Item 1</li>
        <li>List Item 2</li>
        <li>List Item 3</li>
      </ul>
      <hr>
    </div>
    <!--END TYPOGRAPHY-->
    <!-- GRID -->
    <div class="row spacing-small">
      <h2 class="has-light-blue"><a name="grid"></a>Grid</h2>
      <hr class="main-title">
      <h4>4 divs</h4>

      <div class="sg-grid large-2of10 has-blue">large-2of10</div>
      <div class="sg-grid large-2of10 has-blue">large-2of10</div>
      <div class="sg-grid large-2of10 has-blue">large-2of10</div>
      <div class="sg-grid large-2of10 has-blue">large-2of10</div>
    </div>
    <h4>3 divs</h4>
    <div class="row">
      <div class="sg-grid large-3of10 has-blue">large-3of10</div>
      <div class="sg-grid large-3of10 has-blue">large-3of10</div>
      <div class="sg-grid large-3of10 has-blue">large-3of10</div>
    </div>
    <h4>2 divs (7 & 3)</h4>
    <div class="row">
      <div class="sg-grid large-7of10 small-4of6 has-light-blue">large-7of10 / small-4of6</div>
      <div class="sg-grid large-3of10 has-blue">large-3of10</div>
    </div>

    <div class="row spacing-small">
      <h4>Examples</h4>

      <h2>Lorem ipsum dolor sit amet, emphasi</h2>
      <div class="large-4of10">
        <img src="assets/images/city.png">
      </div>
      <div class="large-3of10 justified">
        <p>Lorem ipsum dolor sit amet, emphasis consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.</p>
      </div>
      <div class="large-3of10 justified">
        <p>Lorem ipsum dolor sit amet, emphasis consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.</p>
      </div>
    </div>


    <!--END GRID-->
    <!-- COLORS -->
    <div class="row spacing-small">
      <h2 class="has-light-blue"><a name="colors"></a>Colors</h2>
      <hr class=main-title>
      <!--logos and body text-->
      <h4>Logos and Body Text</h4>
      <ul>
        <li class="color-card large-3of9">
          <span class="swatch-preview has-red"></span>
          <ul class="swatch-details">
              <li><strong>Red</strong></li>
              <li>R237 G28 B36</li>
              <li>C0 M100 Y100 K0</li>
              <li>#ED1C24</li>
              <li>$has-red</li>
          </ul>
        </li>
        <li class="color-card large-3of9">
          <span class="swatch-preview has-dark-gray"></span>
          <ul class="swatch-details">
              <li><strong>Dark Text</strong></li>
              <li>R80 G80 B80</li>
              <li>C65 M57 Y56 K34</li>
              <li>#505050</li>
              <li>$has-dark-gray</li>
          </ul>
        </li>
        <li class="color-card large-3of9">
          <span class="swatch-preview has-light-gray"></span>
          <ul class="swatch-details">
              <li><strong>Light Text</strong></li>
              <li>R180 G187 B191</li>
              <li>C30 M20 Y20 K0</li>
              <li>#B4BBBF</li>
              <li>$has-light-gray</li>
          </ul>
        </li>
      </ul>
    </div>
    <!--end logos and body text-->

    <!--duotone-->
    <h4>Duotone</h4>
    <div class="row">
      <ul>
        <li class="color-card large-3of9">
          <span class="swatch-preview has-light-blue"></span>
          <ul class="swatch-details">
              <li><strong>Light Blue</strong></li>
              <li>R0 G170 B188</li>
              <li>C76 M11 Y25 K0</li>
              <li>#00AABC</li>
              <li>$has-light-blue</li>
          </ul>
        </li>
        <li class="color-card large-3of9">
          <span class="swatch-preview has-lime-green"></span>
          <ul class="swatch-details">
              <li><strong>Lime Green</strong></li>
              <li>R141 G198 B63</li>
              <li>C50 M0 Y100 K0</li>
              <li>#8DC63F</li>
              <li>$has-lime-green</li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- end duotone -->
    <!-- application colors -->
    <div class="row">
      <h4>Application Colors</h4>
      <ul>
        <li class="color-card large-2of10">
          <span class="swatch-preview has-error"></span>
          <ul class="swatch-details">
              <li><strong>Error</strong></li>
              <li>R253 G16 B104</li>
              <li>#FD1068</li>
              <li>$has-error</li>
          </ul>
        </li>
        <li class="color-card large-2of10">
          <span class="swatch-preview has-success"></span>
          <ul class="swatch-details">
              <li><strong>Success</strong></li>
              <li>R75 G148 B104</li>
              <li>#4B9468</li>
              <li>$has-success</li>
          </ul>
        </li>
        <li class="color-card large-2of10">
          <span class="swatch-preview has-latency"></span>
          <ul class="swatch-details">
              <li><strong>Latency</strong></li>
              <li>R247 G148 B30</li>
              <li>#F7941E</li>
              <li>$has-latency</li>
          </ul>
        </li>
        <li class="color-card large-2of10">
          <span class="swatch-preview has-blue"></span>
          <ul class="swatch-details">
              <li><strong>Blue</strong></li>
              <li>R0 G97 B175</li>
              <li>#0061AF</li>
              <li>$has-blue</li>
          </ul>
        </li>
      </ul>
    </div>
    <!--END COLORS-->
    <!--BUTTONS-->
    <div class="row spacing-small">
      <h2 class="has-light-blue"><a name="buttons"></a>Buttons</h2>
      <hr class="main-title">
      <h4>Base Button <small> &lt;button&gt;&lt;/button&gt;</small></h4>
      <button>Button</button>
      <button>Submit Button</button>
      <button>Input Button</button>
      <button>Input Submit Button</button>
      <hr>
      <h4>Error  <small>&lt;button class=&quot;error&quot;&gt;&lt;/button&gt;</small></h4>
      <button class="error">Button</button>
      <button class="error">Submit Button</button>
      <button class="error">Input Button</button>
      <button class="error">Input Submit Button</button>
      <hr>
      <h4>Success Button <small>&lt;button class=&quot;success&quot;&gt;&lt;/button&gt;</small></h4>
      <button class="success">Button</button>
      <button class="success">Submit Button</button>
      <button class="success">Input Button</button>
      <button class="success">Input Submit Button</button>
      <hr>
      <h4>Alt Button <small>&lt;button class=&quot;alt&quot;&gt;&lt;/button&gt;</small></h4>
      <button class="alt">Button</button>
      <button class="alt">Submit Button</button>
      <button class="alt">Input Button</button>
      <button class="alt">Input Submit Button</button>
      <hr>
      <h4>Disabled Button <small>&lt;button class=&quot;disabled&quot;&gt;&lt;/button&gt;</small></h4>
      <button class="disabled">Button</button>
      <button class="disabled">Submit Button</button>
      <button class="disabled">Input Button</button>
      <button class="disabled">Input Submit Button</button>
      <hr>
      <h4>Text Button <small>&lt;a class=&quot;button&quot;&gt;&lt;/a&gt;</small></h4>
      <a class="button" href="#">Button</a>
      <a class="button" href="#">Submit Button</a>
      <a class="button" href="#">Input Button</a>
      <a class="button" href="#">Input Submit Button</a>
      <hr>
      <h4>Links <small>&lt;a&gt;&lt;/a&gt;</small></h4>
      <a href="#">Read More</a>
      <hr>
    </div>

    <div class="row spacing-small">
      <h2 class="has-light-blue"><a name="inputs"></a>Inputs</h2>
      <hr class="maine-title">
      <h4>Text Input <small>&lt;input type=&quot;text&quot;&gt;</small> </h4>
      <label>Default Label
        <input type="text" id="textField" placeholder="text / password / search / email">
      </label>
      <hr>
    </div>

    <div class="row">
      <h4>Error <small>&lt;label class=&quot;form-error&quot;&gt;&lt;/label&gt;</small></h4>
      <label class="form-error">Default Label
        <input type="text" id="textField" placeholder="text / password / search / email">
        <p>invalid username or password</p>
      </label>
      <hr>
    </div>

    <div class="row">
      <h4>Valid <small>&lt;label class=&quot;form-valid&quot;&gt;&lt;/label&gt;</small></h4>
      <label class="form-valid">Default Label
        <input type="text" id="textField" placeholder="text / password / search / email">
        <div class="inner-icon">
          {{fa-icon "fa-check"}}
        </div>
      </label>
      <hr>
    </div>

    <div class="row">
      <h4>Select <small>&lt;div class=&quot;dropdown&quot;&gt;&lt;/div&gt;</small></h4>
      <div class="dropdown">
        <select>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
      <hr>
    </div>

    <div class="row">
      <h4>Select Nested <small>&lt;div class=&quot;dropdown&quot;&gt;&lt;/div&gt;</small></h4>
      <div class="dropdown">
        <select>
          <optgroup label="Option Group 1">
            <option value="1"><p>Option 1</p></option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </optgroup>
          <optgroup label="Option Group 2">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </optgroup>
        </select>
      </div>
      <hr>
    </div>

    <div class="row">
      <h4>Checkbox</h4>
      <label>
        <input type="checkbox" class="checkbox" name="checkboxes" value="check_1"> Checkbox 1
      </label>
      <hr>
    </div>

    <div class="row">
      <h4>Radio</h4>
      <label>
        <input type="radio" class="radio" name="radio_button" value="radio_1"> Radio 1
      </label>
      <label>
        <input type="radio" class="radio" name="radio_button" value="radio_2"> Radio 2
      </label>
      <hr>
    </div>
    <!--END BUTTONS-->
    <!--IMAGES-->

    <div class="row">
      <h2 class="has-light-blue"><a name="images"></a>Images</h2>
      <hr class="main-title">
      <h4>Logo</h4>
      <img class="logo" src="assets/images/iconectiv_tm_rgb.png">
      <hr>
    </div>

    <div class="row">
      <h4>Icons</h4>
      <div class="large-2of10 sg-images">
        <p>Customer</p>
        <div class="icon-customer"></div>
        <p class="heavy">"icon-customer"</p>
      </div>
      <div class="large-2of10 sg-images">
        <p>Hub</p>
        <div class="icon-hub"></div>
        <p class="heavy">"icon-hub"</p>
      </div>
      <div class="large-2of10 sg-images">
        <p>Operator</p>
        <div class="icon-operator"></div>
        <p class="heavy">"icon-operator"</p>
      </div>
      <div class="large-2of10 sg-images">
        <p>Help</p>
        <div class="icon-operator"></div>
        <p class="heavy">"icon-help"</p>
      </div>
    </div>

    <div class="row spacing-small">
      <h2 class="has-light-blue">loading gif</h2>
      <img src="assets/images/spinner.gif">
      <hr class="main-title">
    </div>
    <!--END IMAGES-->
    <!--TIME-->
    <div class="row spacing-small">
      <h2 class="has-light-blue"><a name="time"></a>Time</h2>
      <hr class="main-title">
      <h4>Elapsed Time</h4>
      <p>0:0:0:0 ( H:M:S:MS )</p>
      <hr>
    </div>

    <div class="row">
      <h4>Date</h4>
      <p>Jan 5th, 2015</p>
      <hr>
    </div>

    <div class="row">
      <h4>Time Military</h4>
      <p>23:00 ( Military )</p>
      <hr>
    </div>

    <div class="row">
      <h4>Time Standard</h4>
      <p>11:00pm ( standard )</p>
      <hr>
    </div>

    <div class="row">
      <h4>Timezone GMT</h4>
      <hr>
    </div>

    <div class="row">
      <h4>Total Elapsed Time</h4>
      <p>0:0:0:0 ( H:M:S:MS )</p>
      <hr>
    </div>
    <!--END TIME-->
    <h1 class="spacing-small">Components</h1>
    <!--FORMS-->

    <div class="row spacing-small">
      <h2 class="has-light-blue"><a name="forms"></a>Forms</h2>
      <hr class="main-title">
      <h4>Search</h4>


      {{partial "partials/search"}}
      <hr>
    </div>

    <div class="row">
      <h4>Filter Set</h4>

      {{partial "partials/filter-set"}}
    </div>

    <div class="row">
      <hr>
      <h4>Login</h4>
      {{partial "partials/login"}}
    </div>
    <!--END FORMS-->
    <!--GRAPHS-->
    <div class="row spacing-small">
      <h2 class="has-light-blue"><a name="graphs"></a>Graphs</h2>
      <hr class="main-title">
    </div>
    <!--END GRAPHS-->
    <!--NOTIFICATIONS-->
    <div class="row spacing-small sg-notifications">
      <h2 class="has-light-blue"><a name="notifications"></a>Notifications</h2>
      <hr class="main-title">
      <div class="large-4of10">
        <h4>Square</h4>
        <div class="square-notification">
          <h3>80<span class="small-percent">%</span></h3>
          <h5>456-0</h5>
        </div>
        <div class="square-notification has-error">
          <h3>80<span class="small-percent">%</span></h3>
          <h5>456-0</h5>
        </div>

      </div>
    </div>
    <hr>
    <div class="row sg-notifications">
      <div class="large-4of10">
        <h4>MO</h4>
        <div class="square-notification">
          <h3>MO</h3>
          <h5>{{fa-icon "fa-long-arrow-left"}}</h5>
        </div>
        <div class="square-notification has-error">
          <h3>MO</h3>
          <h5>{{fa-icon "fa-long-arrow-left"}}</h5>
        </div>
      </div>
    </div>
    <hr>
    <div class="row sg-notifications">
      <div class="large-4of10">
        <h4>MT</h4>
        <div class="square-notification">
          <h3>MT</h3>
          <h5>{{fa-icon "fa-long-arrow-right"}}</h5>
        </div>
        <div class="square-notification has-error">
          <h3>MT</h3>
          <h5>{{fa-icon "fa-long-arrow-right"}}</h5>
        </div>
      </div>
    </div>
    <hr>
    <!--END NOTIFICATIONS-->
    <!-- ENTITY -->
    <div class="row spacing-small">
      <h2 class="has-light-blue"><a name="entity"></a>Entity</h2>
      <hr class="main-title">
      <h4>Entity</h4>
      <div class="entity">
        <h1>12345</h1>
        <small>22,000,000 msgs</small>
      </div>
      <div class="entity">
        <h1 class="has-error">12345</h1>
        <small>22,000,000 msgs</small>
      </div>
    </div>
    <hr>
    <!--END ENTITY-->
    <!-- ELAPSED TIME -->
    <div class="row spacing-small">
      <h2 class="has-light-blue"><a name="latency"></a>Elapsed Time (Latency)</h2>
      <hr class="main-title">
      <h4>Latency Customer</h4>
      <div class="latency-time">
        <div class="icon-customer has-latency"><p class="has-latency">0:0:0:0</p></div>
      </div>
      <hr>
    </div>
    <div class="row">
      <h4>Latency Hub</h4>
      <div class="latency-time">
        <div class="icon-hub has-latency"><p class="has-latency">0:0:0:0</p></div>
      </div>
      <hr>
    </div>
    <div class="row">
      <h4>Latency Operator</h4>
      <div class="latency-time">
        <div class="icon-operator has-error"><p class=
          has-error>0:0:0:0</p></div>
      </div>
      <hr>
    </div>
    <!--END ELPASED TIME-->
    <h1 class="spacing-small">Organisms</h1>
    <!--CARDS-->
    <h2 class="has-light-blue"><a name="cards"></a>Card</h2>
    <hr class="main-title">

    <div class="row">
      <div class="large-6of10">
        {{partial "partials/card"}}
      </div>
    </div>

    <div class="row spacing-small">
      <h2 class="has-light-blue">Card PN</h2>
      <hr class="main-title">

      <div class="row large-6of10">
        {{partial "partials/card-pn"}}
      </div>
    </div>
    <!--END CARDS-->
  </div>
</div>













<!--</div>-->

{{outlet}}
