<div class="wrapper">
  <div class="left hidden-small">
    <div class="nav">
      <ul>
        <li><a class="button" href="#typography">Typography</a></li>
        <li><a class="button" href="#listtype">List Types</a></li>
        <li><a class="button" href="#colors">Colors</a></li>
        <li><a class="button" href="#buttons">Buttons</a></li>
        <li><a class="button" href="#inputs">Inputs</a></li>
        <li><a class="button" href="#time">Time</a></li>
        <li><a class="button" href="#forms">Forms</a></li>
        <li><a class="button" href="#graphs">Graphs</a></li>
        <li><a class="button" href="#notifications">Notifications</a></li>
        <li><a class="button" href="#entity">Entity</a></li>
        <li><a class="button" href="#latency">Latency</a></li>
        <li><a class="button" href="#cards">Cards</a></li>
      </ul>
    </div>
  </div>

  <right>
  </right>

  <section>
    <h1 id="sg-main-title">Atoms</h1>
  </section>
  <section>
    <h2><a name="typography"></a>Typography</h2>
    <h3 id="headings">Headings</h3>
    <h1>h1.Heading</h1>
    <h2>h2.Heading</h2>
    <h3>h3.Heading</h3>
    <h4>h4.Heading</h4>
    <hr>
  </section>

  <section>
    <h3>Paragraph</h3>
    <p>Lorem ipsum dolor sit amet, emphasis consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.</p>
    <hr>
  </section>

  <section>
    <h4>Bold Text</h4>
    <b>Lorem ipsum dolor sit</b>
    <hr>
    <h4>Small Text</h4>
    <small>Lorem ipsum dolor sit</small>
    <hr>
    <h4>Customer Titles</h4>
    <h3 class="title">Cricket Communication USA</h3>
    <h3 class="title text-has-error">Cricket Communication USA (w error)</h3>
    <hr>
  </section>

  <section>
    <h2><a name="listtype"></a>List Types</h2>
    <h4>Ordered list</h4>
    <ol>
      <li>List Item 1</li>
      <li>List Item 2</li>
      <li>List Item 3</li>
    </ol>
    <hr>
    <h4>Unordered list</h4>
    <ul>
      <li>List Item 1</li>
      <li>List Item 2</li>
      <li>List Item 3</li>
    </ul>
    <hr>
  </section>

  <!-- COLORS -->
  <section>
    <h2><a name="colors"></a>Colors</h2>
    <ul>
      <li class="color-card">
        <span class="swatch-preview red"></span>
        <ul class="swatch-details">
            <li><strong>Red</strong></li>
            <li>#ec212f</li>
            <li>$red</li>
        </ul>
      </li>
      <li class="color-card">
        <span class="swatch-preview has-error"></span>
        <ul class="swatch-details">
            <li><strong>Error</strong></li>
            <li>#fd1068</li>
            <li>$has-error</li>
        </ul>
      </li>
      <li class="color-card">
        <span class="swatch-preview has-success"></span>
        <ul class="swatch-details">
            <li><strong>Success</strong></li>
            <li>#4B9468</li>
            <li>$has-success</li>
        </ul>
      </li>
      <li class="color-card">
        <span class="swatch-preview has-latency"></span>
        <ul class="swatch-details">
            <li><strong>Latency</strong></li>
            <li>#F7941E</li>
            <li>$has-latency</li>
        </ul>
      </li>
    </ul>
  </section>
  <section>
    <ul>
      <li class="color-card">
        <span class="swatch-preview text-dark"></span>
        <ul class="swatch-details">
            <li><strong>Dark Text</strong></li>
            <li>#505050</li>
            <li>$text-dark</li>
        </ul>
      </li>
      <li class="color-card">
        <span class="swatch-preview text-light"></span>
        <ul class="swatch-details">
            <li><strong>Light Text</strong></li>
            <li>#B4BBBF</li>
            <li>$text-light</li>
        </ul>
      </li>
    </ul>
  </section>
  <section>
    <h2><a name="buttons"></a>Buttons</h2>
    <h3>Base Button</h3>
    <button>Button</button>
    <hr>
    <h3>Alt Button</h3>
    <button class="alt">Button</button>
    <hr>
    <h3>Disabled Button</h3>
    <button class="disabled">Button</button>
    <hr>
    <h3>Text Button</h3>
    <a class="button" href="#">Button</a>
    <hr>
    <h3>Links</h3>
    <a href="#">Read More</a>
    <hr>
  </section>

  <section>
    <h2><a name="inputs"></a>Inputs</h2>
    <h3>Text Input</h3>
    <label>Default Label
      <input type="text" id="textField" placeholder="text / password / search / email">
    </label>
    <hr>
  </section>
  <section>
    <h3>Error</h3>
    <label class="form-error">Default Label
      <input type="text" id="textField" placeholder="text / password / search / email">
      <p>invalid username or password</p>
    </label>
    <hr>
  </section>
  <section>
    <h3>Valid</h3>
    <label class="form-valid">Default Label
      <input type="text" id="textField" placeholder="text / password / search / email">
      <div class="inner-icon">
        {{fa-icon "fa-check"}}
      </div>
    </label>
    <hr>
  </section>
  <section>
    <h3>Select</h3>
    <div class="dropdown">
      <select>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>
    <hr>
  </section>
  <section>
    <h3>Select Nested</h3>
    <div class="dropdown">
      <select>
        <optgroup label="Option Group 1">
          <option value="1"><p>Option 1</p></option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </optgroup>
        <optgroup label="Option Group 2">
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </optgroup>
      </select>
    </div>
    <hr>
  </section>
  <section>
    <h3 >Checkbox</h3>
    <label>
      <input type="checkbox" class="checkbox" name="checkboxes" value="check_1"> Checkbox 1
    </label>
    <hr>
  </section>
  <section>
    <h3>Radio</h3>
    <label>
      <input type="radio" class="radio" name="radio_button" value="radio_1"> Radio 1
    </label>
    <label>
      <input type="radio" class="radio" name="radio_button" value="radio_2"> Radio 2
    </label>
    <hr>
  </section>

  <section>
    <h2><a name="images"></a>Images</h2>
  </section>
  <section>
    <h3>Logo</h3>
    <img class="logo" src="assets/images/iconectiv_tm_rgb.png">
    <hr>
  </section>
  <section>
    <h3>Icons</h3>
    <div class="icon-customer"><p>Customer</p></div>
    <div class="icon-hub"><p>Hub</p></div>
    <div class="icon-operator"><p>Operator</p></div>
    <hr>
  </section>
  <section>
    <h3 id="loadingGif">loading gif</h3>
    <hr>
  </section>

  <section>
    <h2><a name="time"></a>Time</h2>
  </section>
  <section>
    <h3>Elapsed Time</h3>
    <p>0:0:0:0 ( H:M:S )</p>
    <hr>
  </section>
  <section>
    <h3>Date</h3>
    <p>Jan 5th, 2015</p>
    <hr>
  </section>
  <section>
    <h3>Time Military</h3>
    <p>23:00 ( Military )</p>
    <hr>
  </section>
  <section>
    <h3>Time Standard</h3>
    <p>11:00pm ( standard )</p>
    <hr>
  </section>
  <section>
    <h3>Timezone GMT</h3>
    <hr>
  </section>
  <section>
    <h3>Total Elapsed Time</h3>
    <p>0:0:0:0 ( H:M:S )</p>
    <hr>
  </section>


  <section>
    <h1>Components</h1>
  </section>
  <section>
    <h2><a name="forms"></a>Forms</h2>
  </section>
  <section>
    <h3>Search</h3>
    {{partial "partials/search"}}
    <hr>
  </section>
  <section>
    <h3>Filter Set</h3>
    {{partial "partials/filter-set"}}
    <hr>
  </section>
  <section>
    <hr>
  </section>

  <section>
    <h3>Login</h3>
    <div class="login">
      <div class="username">
        <label>
          <input type="text" id="textField" placeholder="username">
        </label>
      </div>
      <div class="pass">
        <label>
          <input type="text" id="textField" placeholder="password">
        </label>
      </div>
      <button>Login</button>
    </div>
  </section>

  <section>
    <h2><a name="graphs"></a>Graphs</h2>
  </section>

  <section>
    <h2><a name="notifications"></a>Notifications</h2>
  </section>
  <section>
    <h3>Square</h3>
    <div class="square-notification">
      <h3>80<span class="small-percent">%</span></h3>
      <h5>456-0</h5>
    </div>
    <hr>
  </section>
  <section>
    <h3>Square Issue</h3>
    <div class="square-notification-issue">
      <h3>80<span class="small-percent">%</span></h3>
      <h5>456-0</h5>
    </div>
    <hr>
  </section>
  <section>
    <h3>MO</h3>
    <div class="square-notification">
      <h3>MO</h3>
      <h5>{{fa-icon "fa-long-arrow-left"}}</h5>
    </div>
    <hr>
  </section>
  <section>
    <h3>MT</h3>
    <div class="square-notification">
      <h3>MT</h3>
      <h5>{{fa-icon "fa-long-arrow-right"}}</h5>
    </div>
    <hr>
  </section>

  <!-- ENTITY -->
  <section>
    <h2><a name="entity"></a>Entity</h2>
  </section>
  <section>
    <h3>Entity</h3>
    <div class="entity">
      <h1>12345</h1>
      <small>22,000,000 msgs</small>
    </div>
    <hr>
  </section>
  <section>
    <h3>Entity (W Error)</h3>
    <div class="entity">
      <h1><span class="text-has-error">12345</span></h1>
      <small>22,000,000 msgs</small>
    </div>
    <hr>
  </section>

  <!-- ELAPSED TIME -->
  <section>
    <h2><a name="latency"></a>Elapsed Time (Latency)</h2>
  </section>
  <section>
    <h3>Latency Customer</h3>
    <div class="latency-time text-has-latency">
      <div class="icon-customer"><p>0:0:0:0</p></div>
    </div>
    <hr>
  </section>
  <section>
    <h3>Latency Hub</h3>
    <div class="latency-time text-has-latency">
      <div class="icon-hub"><p>0:0:0:0</p></div>
    </div>
    <hr>
  </section>
  <section>
    <h3>Latency Operator</h3>
    <div class="latency-time text-has-error">
      <div class="icon-operator"><p>0:0:0:0</p></div>
    </div>
    <hr>
  </section>
  <section>
    <h1>Organisms</h1>
  </section>
  <section>
    <h2><a name="cards"></a>Card</h2>
    {{partial "partials/card"}}
  </section>
  <section>
    <h2>Card PN</h2>
    {{partial "partials/card-pn"}}
  </section>
</div>

{{outlet}}
